 
.board-setup {
  position: relative;
  border-radius: 25px;
  background-color: #00E1FF;
}

.is-flipped {
  transform: rotateY(180deg);
}
.stage {
  width: 150px;
  height: 135px;
  perspective: 600px;
}

.scene-setup  {
  width: 100%;
  height: 135px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-setup {
  border-radius: 25px; 
  position: absolute;
  backface-visibility: hidden;
}

.card-body{
  font-weight: bold;
}

.card-back {
  width: 150px;
  height: 135px;
  line-height: 135px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
}

.card-front {
  transform: rotateY(180deg);
}


.mycard {
  margin-left:100px;
  border-radius: 25px; 
  width: 150px;
  height: 135px;
  font-weight: bold;
  background-color: rgb(235, 235, 235);
}

  .mycard-title {
  border-radius: 25px 25px 0 0;  
  padding: 2px 0px 2px 0px;
  font-size: 1.2rem;
  background-color:white;
}




.Characters {
  font-size: 25px;
  background: #B0FF00;
}
.Verbs {
  font-size: 30px;
  background: #0C75E8;
}
.Adjectives {
  font-size: 25px;
  background: #FF0000;
}

#countdown-sec{
  font-weight: bold;
}
#countdown-text{
  font-weight: normal;
}
.countdown-alert{
  color:white;
}
#countdown{
  /* width:175px; */
}
#segment-req{
  /* width:200px; */
  padding: 0 20px 0 10px;
}
.board-tile-cell-md{
    /* width:175px; */
    font-weight: bold;
    color: white;
}
.board-tile-cell{
  /* width:300px; */
}

.segment-missing{
  color: rgb(238, 37, 37);
}
.segment-req-met{
  font-size:1.5rem;
  color: rgb(26, 167, 26);
}
.border-danger {
  border-width:3px !important;
}
.square-bottom{
  font-size:1.5rem;
}
.square-top{
  font-size:.9rem;
}
.segment-icon-col{
  width:12px;
}
.segment-icon-stack{
  margin-top:2px;
  font-size:.7rem;
}
.testspan{
  position:fixed;
}
/* 
snip-character
snip-check-character

snip-adjective
snip-check-adjective

snip-verb
snip-check-verb */